<h3 class="widget-title">Beneficios</h3>
<div class="row">
  <div class="col-xs-4">
    <i class="fa fa-trophy fa-4x green"></i>
  </div>
  <div class="col-xs-8">
    ¡Participa por fabulosos premios!
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-4">
    <i class="fa fa-hand-o-up fa-4x green"></i>
  </div>
  <div class="col-xs-8">
    ¡Obtén publicaciones con más visibilidad y sin limite de tiempo!
  </div>
</div>
