<div class="row" style="margin-top: 40px;">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="green text-center">
      Descripción de la publicación
    </h2>
    <hr>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <%= raw @publication.description %>
  </div>
</div>
