<% if @publication.subject == Publication::ANIMALES  %>
<div class="row" style="margin-top: 40px;">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="green">
      ¿Cómo comprar?
    </h2>
    <p>
      <i class="fa fa-list"></i>
      Los siguientes pasos aseguran una transacción exitosa.
    </p>
    <hr>
  </div>
  <div class="col-md-12">
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 1: Contactar
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Lee la publicación y contacta al propietario del o los animales, has todas las preguntas necesarias, un buen vendedor responde en un periodo corto de tiempo.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 2: Informar
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Asegúrate de conocer el registro del animal, si el animal no cuenta con el mismo, preguntale al vendedor los orígenes de este, y comprueba que el animal cuente con todas las vacunas necesarias, y que su estado de salud sea óptimo.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 3: Documentación
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        En el caso de caninos y felinos el vendedor debe facilitar siempre los documentos necesarios: factura, certificado veterinario actualizado y  si el animal es de raza su correspondiente pedigree.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 4: Buen vendedor
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Para una correcta socialización, los cachorros, tanto caninos como felinos, deben permanecer con su madre y hermanos hasta una edad determinada, dependiendo de la especie.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 5: Buen criador
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Asegúrate del aspecto y estado de los animales ¿Se encuentran en un entorno apropiado, limpio, con el espacio idóneo según su edad.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 6: Precio
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Desconfía de ofertas que están muy por debajo del valor real
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          ¡Recuerda!
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        AgroNeto no tiene ningún animal bajo su cargo, es solo una herramienta informativa.
      </div>
    </div>
  </div>
</div>
<% end %>
