<% if @publication.subject == Publication::PRODUCTOS %>
<div class="row" style="margin-top: 40px;">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="green">
      ¿Cómo comprar?
    </h2>
    <p>
      <i class="fa fa-list"></i>
      Los siguientes pasos aseguran una transacción exitosa.
    </p>
    <hr>
  </div>
  <div class="col-md-12">
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 1: Preguntar
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Lee la publicación y aclara tus dudas en la sección de preguntas, un buen vendedor responde en un periodo corto de tiempo.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 2: Comprar
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Cuando estes seguro(a) presiona el botón de comprar, recuerda que dar click en comprar te compromete a terminar la transacción. Oferta solo si tienes el dinero para concretar la compra, evita calificaciones negativas.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 3: Contactar
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Antes de realizar el pago contacta al vendedor por teléfono o correo electrónico, es recomendable que solo pagues en efectivo si retiras el producto en persona.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 4: Pagar
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Pide al vendedor sus datos de cuenta bancaria, efecty o algún otro medio seguro para efectuar el pagos y realiza el pago, si el envío no está incluido suma el valor de éste y no olvides las comisiones bancarias.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 5: Recibir
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Recibe el producto en tu casa, sigue el envío con el número de guía que te dío el vendedor.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 6: Calificar
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Una vez recibido el producto o servicio no olvides calificar al vendedor, deja un comentario de acuerdo a tu experiencia. No calificar traerá concecuencia que pueden incluso suspender tu cuenta en AgroNeto.
      </div>
    </div>
  </div>
</div>
<% end %>
