<% if @publication.subject == Publication::INMUEBLES || @publication.subject == Publication::VEHICULOS %>
<% name = "inmueble y/o terreno" if @publication.subject == Publication::INMUEBLES %>
<% name = "vehículo y/o remolque" if @publication.subject == Publication::VEHICULOS %>
<div class="row" style="margin-top: 40px;">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="green">
      ¿Cómo comprar?
    </h2>
    <p>
      <i class="fa fa-list"></i>
      Los siguientes pasos aseguran una transacción exitosa.
    </p>
    <hr>
  </div>
  <div class="col-md-12">
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 1: Contactar
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Lee la publicación y contacta al vendedor, pacta una visita para conocer el <%= name%>, un buen vendedor responde en un periodo corto de tiempo.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 2: Visitar
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        No pagues sin verificar personalmente la documentación y el estado del <%= name%>.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 3: Investigar
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        Cuídate si mencionan ventas rápidas por mudanza y desconfía de ofertas muy por debajo del precio del mercado.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          Paso 4: Pagar
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        No uses servicios de pago anónimos (por ej: Western Union), ni envíes dinero al exterior.
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2 col-xs-4 text-right">
        <h4 class="green">
          ¡Recuerda!
        </h4>
      </div>
      <div class="col-md-8 col-xs-8" style="border-left: 1px solid #f2f2f2">
        AgroNeto no tiene <%= name%> bajo su custodia, es solo una herramienta informativa.
      </div>
    </div>
  </div>
</div>
<% end %>
