<div algin="center" class="visible-md visible-lg">
  <!-- Sidebar1 -->
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-4966517413124538"
  data-ad-slot="8074848335"
  data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  // setTimeout(function() {
  // }, 1000)
  </script>
</div>
<div algin="center" class="visible-xs visible-sm">

  <!-- GoldMobile -->
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-4966517413124538"
  data-ad-slot="6368930716"
  data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  // setTimeout(function() {
  // }, 1000)
</script>
</div>
