<div algin="center" class="visible-md visible-lg">
  <!-- Sidebar2 -->
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-4966517413124538"
  data-ad-slot="9082723968"
  data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  // setTimeout(function() {
  // }, 1000)
</script>
</div>
<div algin="center" class="visible-xs visible-sm">
  <!-- BronceMobile -->
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-4966517413124538"
  data-ad-slot="2446406699"
  data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  // setTimeout(function() {
  // }, 1000)
</script>
</div>
