<div algin="center" class="visible-md visible-lg" style="text-align:center;">
  <!-- MainBannerWeb -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-4966517413124538"
       data-ad-slot="8508008893"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
