<div class="row">
  <div class="col-md-6">
    <%= render "account/reputations/indicators" %>
  </div>
  <div class="col-md-4">
    <h1 class="text-center label label-success" style="font-size: 20px;">
      Miembro hace
      <%= time_ago_in_words @user.created_at %>
    </h1>
  </div>
</div>
