<%= form_for([:account, current_user]) do |f| %>

<div class="alert alert-info">
  Cuéntanos tus intereses y te notificaremos con actualizaciones de noticias y ofertas del mercado.
</div>
<div>
  <ul class="checkbox-grid">
    <% Interest.all.each do |interest| %>
    <li>
      <label>
        <%= check_box_tag "user[interest_ids][]", interest.id, f.object.interests.include?(interest) %>
        <%= interest.name %>
      </label>
    </li>
    <% end %>
  </ul>
</div>
<br><br>
<input type="hidden" value="<%= request.fullpath%>" name="redirect_to">
<button type="submit" class="btn btn-primary btn-lg">
  Guardar
</button>

<% end %>
