# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b57b1ddb265c2ecc43e1e7321f759ed75b8d97321d910af7791de7ab20ccd8be4ca3b38e08577c6319b8cb780f182dab2057252ca0eb097c4068999b1c5df3fd

test:
  secret_key_base: e8cc2b559a45d814c9e751a0cd1679a8ee7b77fa93083a366a959bd9ae1f4978725fe1730945caf7a2218a6fa1b3a86a1b41520367aabf638ab08a1b15fd778f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: e8cc2b559a45d814c9e751a0cd1679a8ee7b77fa93083a366a959bd9ae1f4978725fe1730945caf7a2218a6fa1b3a86a1b41520367aabf638ab08a1b15fd778f
