<div class="text-center">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary">Preguntar</button>
    <button type="button" class="btn btn-default">Comprar</button>
    <button type="button" class="btn btn-default">Vender</button>
  </div>

  <div style="margin-top: 20px;" class="text-left">
    <label for="">Título</label>
    <input type="text" class="form-control">
  </div>
  <div style="margin-top: 20px;" class="text-left">
    <label for="">Descripción</label>
    <input type="text" class="form-control">
  </div>
  <div style="margin-top: 20px;" class="text-center">
    <input type="checkbox" class="js-switch" checked /> Nuevo
    <input type="checkbox" class="js-switch" checked /> Usado
  </div>
  <div style="margin-top: 20px;" class="text-left">
    <label for="">Precio</label>
    <input type="text" class="form-control">
  </div>
  <div style="margin-top: 20px;" class="text-left">
    <label for="">Unidades</label>
    <input type="text" class="form-control">
  </div>
  <div style="margin-top: 20px;" class="text-left">
    <label for="">Ciudad</label>
    <input type="text" class="form-control">
  </div>
  <div style="margin-top: 20px;" class="text-left">
    <label for="">Categoría</label>
    <input type="text" class="form-control">
  </div>
</div>

<script>
var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

elems.forEach(function(html) {
  var switchery = new Switchery(html);
});
</script>
