<table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
  <tr>
    <td align="center" width="600" style="padding: 50px 0; background-color: #F7F7F7;">
      <h2 style="font-family: Helvetica, sans-serif; font-size: 22px; margin-bottom: 30px; color: #656565; font-weight: normal;">
        ¡Hola <%= @email %>!
      </h2>
      <p style="font-family: Helvetica, sans-serif; font-size: 14px; color: #848484;">
        Te estamos contactando para notificarte que tu clave a sido cambiada exitosamente.
        <br /><br />
      </p>
    </td>
  </tr>
</table>
