<table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
  <tr>
    <td align="center" width="600" style="padding: 50px 0; background-color: #F7F7F7;">
      <h2 style="font-family: Helvetica, sans-serif; font-size: 22px; margin-bottom: 30px; color: #656565; font-weight: normal;">
        ¡Hola <%= @email %>!
      </h2>
      <p style="font-family: Helvetica, sans-serif; font-size: 14px; color: #848484;">
        Has solicitado un link para cambiar tu clave. Puedes hacerlo dando click en el siguiente link:
        <br /><br />
        <%= link_to 'Confirmar mi clave', edit_password_url(@resource, reset_password_token: @token), class: "font-size: 18px; text-decoration: none; color: #69B417; font-weight: bold;" %>
        <br /><br />
        Si tu no has solicitado este link por favor ingora este correo.
        <br>
        Tu clave no cambiará almenos que accedas al link y crees una nueva.
        <br /><br />
      </p>
    </td>
  </tr>
</table>
