<!-- Modal -->
<div class="modal fade" id="logged-modal" tabindex="-1" role="dialog" aria-labelledby="logged-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="logged-modalLabel">Conoce AgroNeto</h4>
      </div>
      <div class="modal-body">
        <%= render "account/users/interests_form" %>
      </div>
    </div>
  </div>
</div>
