<li style="">
  <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FAgroNetoOficial%2F&width=51&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId=1121875791290133&locale=es_LA" width="80" height="20" style="border:none;overflow:hidden:width:auto;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  <!-- <div class="fb-like" data-href="https://www.facebook.com/AgroNetoOficial" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div> -->

</li>
<li style="">
  <a href="https://twitter.com/AgroNetoOficial" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @AgroNetoOficial</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</li>
<li>

  <!-- <script type="IN/FollowCompany" data-id="24769010"></script> -->
</li>
