<!-- MODAL -->
<div id="subscribe-modal" class="modal modal-subscription fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content clearfix">
      <div class="modal-body text-center">
        <%= render "layouts/subscribe_forms" %>
      </div>
      <button type="button" class="btn btn-default btn-close" data-dismiss="modal">
        <i class="fa fa-close"></i>
        <span class="sr-only">
          Cerrar
        </span>
      </button>
      <!-- <p class="text-center">
        <a href="#" class="link-close">
          No, I don't want free cool stuff
        </a>
      </p> -->
    </div>
  </div>
</div>
<!-- END MODAL -->
